@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: white;
}

@keyframes blink {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
.type-writer::after{
    content: "|";
    animation: blink 1s infinite;
}