.container{
    height: 100vh;
}

.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.gifRot{
    padding-left:4px;
    transform: rotate(180deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}